<h1>Add a new List</h1>


<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add a list", class: "btn btn-primary m-2" %>
<% end %>

<div><%= link_to "Back", lists_path, class: "btn btn-secondary m-2" %></div>
